/arduino/arduinoWebSockets/
/arduino/arduinoWebSockets-master.zip
/arduino/aREST-master
/arduino/CH341SER_LINUX
/arduino/control_esp8266_overInternet
/arduino/esp_01s_relay_v1
/arduino/ESP8266
/arduino/firstContact
/arduino/*.zip
/arduino/*.ZIP

/breacking_bad
/codes
/DataSheets
/ngrok-file
/Patents
/Project_1
/Raspberry pi
/Sweep

flask/venv/

*.pdf
*.png



arduino/.vscode/settings.json
arduino/Blink/Blink.ino
flask/hello-wrold.py
flask/hello-wrold.pyc
flask/.vscode/settings.json
flask/__pycache__/falsk_db.cpython-36.pyc
flask/flaskr-tutorial/.vscode/settings.json
flask/flaskr-tutorial/flaskr/__pycache__/blog.cpython-36.pyc
flask/flaskr-tutorial/flaskr/__pycache__/blog.cpython-36.pyc
flask/flaskr-tutorial/flaskr/__pycache__/blog.cpython-36.pyc
flask/flaskr-tutorial/flaskr/__pycache__/blog.cpython-36.pyc
flask/flaskr-tutorial/instance/flaskr.sqlite
flask/templates/hello.html
flask/templates/hello_files/bundle.js
flask/templates/hello_files/css2
flask/templates/hello_files/linkedin.da08c0b6.svg
flask/templates/hello_files/main.chunk.js
flask/templates/hello_files/outlook.c2f73818.svg
flask/templates/hello_files/search.c43dbf30.svg
flask/templates/hello_files/twitter.4714a669.svg
flask/templates/hello_files/0.chunk.js
flask/flaskr-tutorial/instance/flaskr.sqlite
